## 원금 균등 상환(Equal principal repayment)

```
매월 상환해야하는 원금 같음, 이자가 점점 감소, 상환액 점점 감소
(원리금균등보다) 첫 상환금 많음, 총 상환액 적음

월소득에 따른 DTI 구현
# DTI: 총부채상환비율. 연소득 대비 부채 상환비율
```

In [1]:
import pandas as pd

In [2]:
#---------------- 대출 금액, 이자율, 상환 기간, 월별 소득 입력--------------------
principal = 50000000  # 대출 금액
interest_rate = 5  # 연간 이자율

months = 24  # 상환 기간(개월)
monthly_income = 4166667  # 월소득
#-------------------------------------------------------------------------------

def equal_principal(principal, interest_rate, months, monthly_income):
    interest_rate = interest_rate / 12 / 100 # 연간 이자율 -> 월간 이자율
    monthly_principal = principal / months # 월별 원금 상환액
    amortization_schedule = [] # 변제 일정.결과 저장할 리스트 초기화
    remaining_balance = principal # 잔여 대출액
    DTI = 0

    for month in range(1, months+1):
        monthly_interest = remaining_balance * interest_rate # 월별 이자 = 잔액 * 이자율
        remaining_balance -= monthly_principal # 남은 대출액 = 남은 대출액 - 원금
        monthly_debt_payment = monthly_principal + monthly_interest # 월 납부액 = 원금 + 이자
        amortization_schedule.append({
            '회차': month,
            '월 납부액': int(monthly_debt_payment),
            '원금': int(monthly_principal),
            '이자': int(monthly_interest),
            '잔액': int(remaining_balance)
        })
    return amortization_schedule


amortization_schedule = equal_principal(principal, interest_rate, months, monthly_income)
amortization_df = pd.DataFrame(amortization_schedule, columns=['회차', '월 납부액', '원금', '이자', '잔액'])
DTI = round(((amortization_df['월 납부액'].iloc[:12].sum())/(monthly_income * 12)) * 100, 2)
# DTI : (연 원리금상환액([:12]) / 연소득) * 100

print('DTI=', DTI,'%')
print()
print('총 납부액:', amortization_df['월 납부액'].sum())
print('총 이자:', amortization_df['이자'].sum())
print()

amortization_df

DTI= 53.85 %

총 납부액: 52604156
총 이자: 2604154

    회차    월 납부액       원금      이자        잔액
0    1  2291666  2083333  208333  47916666
1    2  2282986  2083333  199652  45833333
2    3  2274305  2083333  190972  43749999
3    4  2265625  2083333  182291  41666666
4    5  2256944  2083333  173611  39583333
5    6  2248263  2083333  164930  37499999
6    7  2239583  2083333  156249  35416666
7    8  2230902  2083333  147569  33333333
8    9  2222222  2083333  138888  31249999
9   10  2213541  2083333  130208  29166666
10  11  2204861  2083333  121527  27083333
11  12  2196180  2083333  112847  24999999
12  13  2187500  2083333  104166  22916666
13  14  2178819  2083333   95486  20833333
14  15  2170138  2083333   86805  18749999
15  16  2161458  2083333   78124  16666666
16  17  2152777  2083333   69444  14583333
17  18  2144097  2083333   60763  12499999
18  19  2135416  2083333   52083  10416666
19  20  2126736  2083333   43402   8333333
20  21  2118055  2083333   34722   6249999
21  22  2109375  2083333   26041   4166666
22  23  2100694  2083333   17361   2083333
23  24  2092013  2083333    8680         0